@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.line {
  width: 90%;
  height: 5px;
  margin: auto;
  background-color: #fff;
  border-radius: 50px;
}

.showmenu {
  top: 10px !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #000;
  border-right: 5px dotted #fff;
  border-left: 5px dotted #fff;
}

header {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 7vh;
  background: #000;
  border-left: 5px solid #fff;
  border-bottom: 5px dotted #fff;
  border-right: 5px solid #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 70%;
  margin: 0 auto;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

header #logo {
  height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

@media (min-width: 768px) {
  header #logo {
    display: block !important;
  }
}

header #logo h1 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header nav {
  height: 100%;
  margin: 0;
}

header nav span#menu {
  height: 100%;
  display: block;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

@media (min-width: 768px) {
  header nav span#menu {
    display: none !important;
  }
}

header nav span#menu i {
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

header nav span#menu:hover {
  color: #666666;
  cursor: pointer;
}

header nav #ul1 {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: -10vh;
  right: 0;
  background: transparent;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  header nav #ul1 {
    display: none !important;
  }
}

header nav #ul1 li {
  text-align: center;
}

@media (min-width: 768px) {
  header nav #ul1 li {
    display: none !important;
  }
}

header nav #ul1 li a {
  font-size: 70%;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header nav #ul1 li a:focus {
  border-bottom: 2px solid #fff;
}

@media (min-width: 768px) {
  header nav #ul1 li a:hover {
    border-bottom: 2px solid #fff;
  }
}

header nav #ul1 span#close {
  font-size: 20px;
  font-weight: bold;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  color: #fff;
}

header nav #ul1 span#close:hover {
  cursor: pointer;
  color: #666666;
}

header nav #ul2 {
  display: none;
}

@media (min-width: 768px) {
  header nav #ul2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    height: 100%;
  }
}

@media (min-width: 768px) {
  header nav #ul2 li {
    padding: 0 10px;
    height: 100%;
  }
}

@media (min-width: 768px) {
  header nav #ul2 li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin-top: 13px;
  }
}

@media (min-width: 768px) {
  header nav #ul2 li:hover a {
    border-bottom: 2px solid #fff;
  }
}

main {
  background: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100%;
  padding-bottom: 50px;
}

main .main-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-content .img {
  width: 100%;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-content .img img {
  width: 150px;
  height: 150px;
  border: 5px double #fff;
  border-radius: 50%;
}

@media (min-width: 768px) {
  main .main-content .img img {
    width: 200px;
    height: 200px;
  }
}

main .main-content .name h1 {
  font-weight: 400;
  text-align: center;
  margin: 10px 0 0 0;
  color: fff;
}

@media (min-width: 768px) {
  main .main-content .name h1 {
    font-size: 50px;
  }
}

main .main-content .name h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 5px;
  color: #9c9494;
}

@media (min-width: 768px) {
  main .main-content .name h3 {
    font-size: 20px;
  }
}

main .main-content .name p {
  text-align: center;
  text-transform: capitalize;
  width: 80%;
  font-size: 12px;
  margin: 0 auto;
  color: #cccccc;
}

@media (min-width: 768px) {
  main .main-content .name p {
    font-size: 15px;
    width: 50%;
    margin: auto;
  }
}

main .main-content .name a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  background: #000;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border: 5px double #fff;
}

main .main-content .name a:hover {
  color: #000;
  background: #fff;
  border: 5px double #000;
}

section#skills {
  background-color: #000;
  color: #fff;
  padding-bottom: 30px;
}

section#skills h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin: 30px 0 20px 0;
}

section#skills .skills-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

@media (min-width: 768px) {
  section#skills .skills-content {
    -ms-grid-columns: 19% 19% 19% 19% 19%;
        grid-template-columns: 19% 19% 19% 19% 19%;
    grid-gap: 10px;
  }
}

section#skills .skills-content div {
  color: #000;
  background: #fff;
  opacity: .9;
  border: 5px double #000;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

section#skills .skills-content div i {
  margin-top: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#skills .skills-content div h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 17px;
}

section#projects h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 30px;
  margin: 30px 0 20px 0;
}

@media (min-width: 768px) {
  section#projects .projects-content {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 20px;
    -ms-grid-columns: 23% 23% 23% 23%;
        grid-template-columns: 23% 23% 23% 23%;
  }
}

section#projects .projects-content .project {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  section#projects .projects-content .project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#projects .projects-content .project a {
  width: 100%;
  text-decoration: none;
}

section#projects .projects-content .project a:hover {
  opacity: 0.8;
  cursor: pointer;
}

section#projects .projects-content .project a img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  section#projects .projects-content .project a img {
    height: 400px;
  }
}

section#projects .projects-content .project a h1 {
  margin: 10px 0;
  color: #fff;
}

section#projects .projects-content .project a h1:focus {
  color: purple;
}

@media (min-width: 768px) {
  section#projects .projects-content .project a h1 {
    font-size: 20px;
    font-weight: bolder;
    margin: 15px 0;
  }
  section#projects .projects-content .project a h1:hover {
    color: purple;
    cursor: pointer;
  }
}

section#projects .projects-content .project p {
  text-align: left;
  padding-bottom: 15px;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
}

section#projects .projects-content .project a.view {
  display: block;
  text-align: center;
  margin: 15px auto;
  padding: 10px 5px;
  text-decoration: none;
  color: #ffffff;
  background: #000;
  text-transform: capitalize;
  border: 1px solid #fff;
  width: 50%;
  margin-top: auto;
  margin-bottom: 80px;
}

section#projects .projects-content .project a.view:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

section#contacts {
  color: #fff;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  section#contacts {
    padding-bottom: 30px;
  }
}

section#contacts h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0 20px 0;
  color: #fff;
}

section#contacts .contacts-content {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

@media (min-width: 768px) {
  section#contacts .contacts-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 30px;
  }
}

section#contacts .contacts-content :nth-of-type(3) p {
  text-transform: lowercase !important;
}

section#contacts .contacts-content div {
  border: 1px solid #fff;
  padding: 15px 0;
  margin: 10px;
}

@media (min-width: 768px) {
  section#contacts .contacts-content div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

section#contacts .contacts-content div h2 {
  text-transform: capitalize;
  margin: 5px;
}

@media (min-width: 768px) {
  section#contacts .contacts-content div h2 {
    font-size: 15px;
  }
}

section#contacts .contacts-content div p {
  text-transform: capitalize;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  section#contacts .contacts-content div p {
    font-size: 14px;
  }
}

section#contacts .contacts-content div .icons {
  border: none !important;
}

section#contacts .contacts-content div .icons a {
  color: #fff;
  padding: 0 3px;
}

@media (min-width: 768px) {
  section#contacts .contacts-content div .icons a {
    padding: 0 2px;
  }
}

footer {
  background: #000;
  z-index: 5;
  color: #ffffff;
  height: 5vh;
  border-left: 5px solid #fff;
  border-top: 5px dotted #fff;
  border-right: 5px solid #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 50%;
  margin: auto;
}

footer p {
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */